
<h1 class="title"> Write Something</h1>

<%= form_for @post do |f| %>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <p> To : </p>
      <%= f.text_field :wall_user_id %>
      <%= f.hidden_field :poster_id %>
    </p>
  </header>
  
  <div class="card-content">
    <div class="content">
      <%= f.text_area :body, class:"textarea" %>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item"><%= f.submit class:"card-footer-item button is-primary is-outlined", value:"Send" %></a>
   
  </footer>
  <% end %>
</div>
