<h1 class="title">Write Something</h1>

<%= form_for @post do |f| %>
  <div class="field">
    <label class="label">To :</label>
     <div class="control">
     <%= f.text_field :wall_user_id %>
     <%= f.hidden_field :poster_id,  value: current_user.id %>
    </div>
  </div>
  <div class="field">
    <label class="label">Message</label>
     <div class="control">
     <%= f.text_area :body %>
    </div>
  </div>
  <%= f.submit %>
<% end %>

