<!DOCTYPE html>
<html>
  <head>
    <title>FakeBook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar <!DOCTYPE html>"
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <%= image_tag "", alt: "FakeBook" %>
          </a>
          <div class="navbar-item">
            <div class="field">
              <div class="control has-icons-right">
                <input class="input" type="text" placeholder="Search users">
              </div>
            </div>
          </div>

        <div class="navbar-menu toRight" id="navMenu">
          <div class="navbar-end">
            <% if current_user %>
              <%= link_to profile_path, class: "navbar-item" do %>
                <p><%=  current_user.name.titleize %>'s Profile </p>
              <% end %>

                <nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
                  <ul>
                    <li><%= link_to "People Interest", users_path, class: "navbar-item white" %></li>
                    <li><%= link_to "Message", new_message_path, class: "navbar-item white" %></li>
                    <li><%= link_to "Log out", logout_path, class: "navbar-item white" %></li>
                  </ul>
                </nav>
            <% end %>
          </div>
        </div>
      </div>
      </nav>
    </div>

      <div class="container" style="margin-top: 20px ">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>  
    
  </body>
</html>
